<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Commentmapper">
	<select id="free_comment" resultType="commentDto" parameterType="int">
		SELECT COMMENT_NO,NICKNAME,COMMENT_CONTENT,COMMENT_REGDATE FROM COMMENT_TABLE INNER JOIN MEMBER_BOARD ON COMMENT_TABLE.MEMBER_SEQ=MEMBER_BOARD.MEMBER_SEQ 	WHERE FREE_NO=#{free_no}
	</select>
	<select id="dance_comment" resultType="commentDto" parameterType="int">
		SELECT COMMENT_NO,NICKNAME,COMMENT_CONTENT,COMMENT_REGDATE FROM COMMENT_TABLE INNER JOIN MEMBER_BOARD ON COMMENT_TABLE.MEMBER_SEQ=MEMBER_BOARD.MEMBER_SEQ 	WHERE DANCE_NO=#{dance_no}
	</select>
	<select id="song_comment" resultType="commentDto" parameterType="int">
		SELECT COMMENT_NO,NICKNAME,COMMENT_CONTENT,COMMENT_REGDATE FROM COMMENT_TABLE INNER JOIN MEMBER_BOARD ON COMMENT_TABLE.MEMBER_SEQ=MEMBER_BOARD.MEMBER_SEQ 	WHERE SONG_NO=#{song_no}
	</select>
	<insert id="song_comment_insert" parameterType="commentDto">
		INSERT INTO COMMENT_TABLE VALUES(COMMENT_SEQ.NEXTVAL,SYSDATE,#{comment_content},#{member_seq},null,#{song_no},null)
	</insert>
	<insert id="dance_comment_insert" parameterType="commentDto">
		INSERT INTO COMMENT_TABLE VALUES(COMMENT_SEQ.NEXTVAL,SYSDATE,#{comment_content},#{member_seq},#{dance_no},null,null)
	</insert>
	<insert id="free_comment_insert" parameterType="commentDto">
		INSERT INTO COMMENT_TABLE VALUES(COMMENT_SEQ.NEXTVAL,SYSDATE,#{comment_content},#{member_seq},null,null,#{free_no})
	</insert>
	<update id="update" parameterType="commentDto">
		UPDATE COMMENT_TABLE SET COMMENT_CONTENT=#{comment_content} WHERE COMMENT_NO=#{comment_no}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM COMMENT_TABLE WHERE COMMENT_NO=#{comment_no}
	</delete>

</mapper>