<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dance_Boardmapper">
	<select id="selectList" resultType="dance_BoardDto">
		SELECT DANCE.DANCE_NO,DANCE.DANCE_TITLE,MEMBER.NICKNAME,DANCE.DANCE_REGDATE,DANCE_CNT FROM DANCE_BOARD DANCE INNER JOIN MEMBER_BOARD MEMBER ON DANCE.MEMBER_SEQ=MEMBER.MEMBER_SEQ
	</select>
	<select id="selectOne" resultType="dance_BoardDto" parameterType="int">
		SELECT DANCE.DANCE_NO ,DANCE.DANCE_TITLE,DANCE.DANCE_CONTENT,MEMBER.NICKNAME,DANCE.DANCEREALFNAME,DANCE.DANCEFNAME,DANCE.DANCEREALPATH,DANCE.DANCE_REGDATE,DANCE_CNT FROM DANCE_BOARD DANCE INNER JOIN MEMBER_BOARD MEMBER ON DANCE.MEMBER_SEQ=MEMBER.MEMBER_SEQ WHERE DANCE_NO=#{dance_no}
	</select>
	<insert id="insert" parameterType="dance_BoardDto">
		INSERT INTO DANCE_BOARD VALUES(DANCE_SEQ.NEXTVAL,#{dance_title},#{dance_content},SYSDATE,0,#{member_seq},NULL,NULL,NULL)
	</insert>
	<insert id="insertFile" parameterType="dance_BoardDto">
		INSERT INTO DANCE_BOARD VALUES(DANCE_SEQ.NEXTVAL,#{dance_title},#{dance_content},SYSDATE,0,#{member_seq},#{dancefname},#{dancerealfname},#{dancerealpath})
	</insert>
	<select id="selectFile" parameterType="String" resultType="dance_BoardDto">
		SELECT * FROM DANCE_BOARD WHERE DANCEREALFNAME=#{dancerealfname}
	</select>
	<update id="update" parameterType="dance_BoardDto">
		UPDATE DANCE_BOARD SET DANCE_TITLE=#{dance_title},DANCE_CONTENT=#{dance_content} WHERE DANCE_NO=#{dance_no}
	</update>
	<update id ="updatefile" parameterType="dance_BoardDto">
		 UPDATE DANCE_BOARD SET DANCE_TITLE=#{dance_title},DANCE_CONTENT=#{dance_content},DANCEFNAME=#{dancefname},DANCEREALFNAME=#{dancerealfname},DANCEREALPATH=#{dancerealpath}  WHERE DANCE_NO=#{dance_no} 
		
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM DANCE_BOARD WHERE DANCE_NO=#{dance_no}
	</delete>
	<update id="view" parameterType="int">
		UPDATE DANCE_BOARD SET DANCE_CNT=DANCE_CNT+1 WHERE DANCE_NO=#{dance_no}
	</update>
	<select id="totalcount" resultType="int">
		SELECT COUNT(DANCE_NO) FROM DANCE_BOARD
	</select>	
	<select id="selectListPage" resultType="dance_BoardDto" parameterType="hashmap">
		<![CDATA[
		SELECT DANCE_NO, DANCE_TITLE, NICKNAME, DANCE_REGDATE, DANCE_CNT 
		FROM
			(SELECT ROW_NUMBER() OVER(ORDER BY DANCE_NO DESC) AS NUM, DANCE_NO, DANCE_TITLE, NICKNAME, DANCE_REGDATE, DANCE_CNT 
			FROM DANCE_BOARD DANCE INNER JOIN MEMBER_BOARD MEMBER 
			ON DANCE.MEMBER_SEQ=MEMBER.MEMBER_SEQ)
		WHERE NUM >= #{startWrite} AND NUM < #{endWrite}
		ORDER BY NUM
		]]>
	</select>
</mapper>