<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Musiclistmapper">
	<select id="selectList" resultType="musiclistDto">
		SELECT MUSIC_NO,MUSIC_NAME,MUSIC_ARTIST FROM MUSICLIST_TABLE ORDER BY MUSIC_NO DESC
	</select>
	<select id="musicsearch" resultType="musiclistDto" parameterType="String">
		SELECT MUSIC_NO,MUSIC_NAME,MUSIC_ARTIST FROM MUSICLIST_TABLE WHERE MUSIC_NAME LIKE #{music_name} or MUSIC_ARTIST LIKE #{music_name} ORDER BY MUSIC_NO DESC
	</select>

</mapper>