<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member_Boardmapper">

	<resultMap type="member_BoardDto" id="Member_BoardResultMap">
		<result property="member_seq" column="MEMBER_SEQ" />
		<result property="id" column="ID" />
		<result property="pw" column="PW" />
		<result property="name" column="NAME" />
		<result property="nickname" column="NICKNAME" />
		<result property="grade" column="GRADE" />
		<result property="email" column="EMAIL" />
		<result property="birthday" column="BIRTHDAY" />
		<result property="phone" column="PHONE" />
		<result property="addr" column="ADDR" />
		<result property="membership" column="MEMBERSHIP" />
		<result property="delflag" column="DELFLAG" />
		<result property="regdate" column="REGDATE" />
	</resultMap>
	

	<insert id="insert" parameterType="Member_BoardDto">
		INSERT INTO MEMBER_BOARD VALUES(MEMBER_SEQ.NEXTVAL,#{id},#{pw},#{name},#{nickname},'USER',#{email},
		#{birthday},#{phone},#{addr},'NOPAY','N',SYSDATE)
	</insert>
	<select id="selectId" resultType="Member_BoardDto" parameterType="String">
		SELECT  MEMBER_SEQ,ID,PW,NAME,NICKNAME,GRADE,EMAIL,BIRTHDAY,PHONE,ADDR,MEMBERSHIP,DELFLAG,REGDATE FROM MEMBER_BOARD WHERE ID = #{id} 
	</select>
	<select id="sns" resultType="Member_BoardDto" parameterType="String">
		SELECT  MEMBER_SEQ,ID,PW,NAME,NICKNAME,GRADE,EMAIL,BIRTHDAY,PHONE,ADDR,MEMBERSHIP,DELFLAG,REGDATE FROM MEMBER_BOARD WHERE ID = #{id} AND DELFLAG='N'
	</select>
	
	<select id="login" resultType="Member_BoardDto" parameterType ="String">
		SELECT MEMBER_SEQ,ID,PW,NAME,NICKNAME,GRADE,EMAIL,BIRTHDAY,PHONE,ADDR,MEMBERSHIP,DELFLAG,REGDATE FROM MEMBER_BOARD
		WHERE ID=#{id} AND PW=#{pw} AND DELFLAG='N' 
	</select>
	
	<select id="findid" parameterType="Member_BoardDto" resultType="Member_BoardDto">
		SELECT MEMBER_SEQ,ID,PW,NAME,NICKNAME,GRADE,EMAIL,BIRTHDAY,PHONE,ADDR,MEMBERSHIP,DELFLAG,REGDATE FROM MEMBER_BOARD
		WHERE NAME=#{name} AND EMAIL=#{email} 
	</select>
	<select id="findpw" parameterType="Member_BoardDto" resultType="Member_BoardDto">
		SELECT MEMBER_SEQ,ID,PW,NAME,NICKNAME,GRADE,EMAIL,BIRTHDAY,PHONE,ADDR,MEMBERSHIP,DELFLAG,REGDATE FROM MEMBER_BOARD
		WHERE NAME=#{name} AND ID=#{id} AND EMAIL=#{email} 
	</select>
	<update id="updatePw" parameterType="String" >
		UPDATE MEMBER_BOARD SET PW =#{pw} WHERE NAME=#{name} AND ID=#{id} AND EMAIL=#{email} 
	</update>
	<insert id="snslogin" parameterType="Member_BoardDto">
		INSERT INTO MEMBER_BOARD VALUES(MEMBER_SEQ.NEXTVAL,#{id},NULL,#{name},#{nickname},'USER',#{email},NULL,NULL,#{addr},'NOPAY','N',SYSDATE)
	</insert>
	<update id="deletemember" parameterType ="int">
	    UPDATE MEMBER_BOARD SET DELFLAG='Y' WHERE MEMBER_SEQ=#{member_seq}
	</update>

	
	<update id="kakaopaysong01" parameterType="int">
		UPDATE MEMBER_BOARD SET MEMBERSHIP='ONE' WHERE MEMBER_SEQ=#{member_seq} 	
	</update>
	
	<update id="kakaopayall01" parameterType="int">
		UPDATE MEMBER_BOARD SET MEMBERSHIP='ALL' WHERE MEMBER_SEQ=#{member_seq}
	</update>

</mapper>